
html,
body {
    height: 100vh;
    width: 100vw;
}


.app-container {
    height: 100vh;
    width: 96vw;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.top-container {
    flex: 4;
    display: flex;
    flex-direction: column;
    height: 10vh;
}

.top-container-menu {
    flex: 2;
    background-color: rgba(152, 162, 184, 0.452);
    display: flex;
}

.top-container-menu-button {
    flex: 2;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.top-container-body {
    flex: 10;
    background-color: blue;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    width: 100%;
    height: 100%;
} 

.center-flex-text {
    justify-content: center;
    align-items: center;
    display: flex;
} 

.text-style {
    font-size: 20px;
    font-weight: bolder;
}

.mute-item {
    border: 1px;
    border-color: black(0, 0, 0);
    border-style: solid;
    justify-content: center;
    align-items: center;
}



